extends ../Layout/main-layout.pug

block title
    title #{pageTitle}

block content 
    form.product-form(action="/admin/add-product",method="POST")
        .form-control
            label.title Title 
            input(type="text" name="title")#title
        button(type="submit") Add Product 
    
